version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: fastapi_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: fastapi_user
      POSTGRES_PASSWORD: fastapi_password
      POSTGRES_DB: fastapi_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongodb:
    image: mongo:7
    container_name: fastapi_mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: fastapi_root
      MONGO_INITDB_ROOT_PASSWORD: fastapi_root_password
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

volumes:
  pgdata:
  mongodata:
